
 body {
 	width: 75%;
	margin: 0 auto; 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
 }
.nav{
  background: #DDDDDD;
}
.nav-tabs>li>a{
  color: black;
}

#burger{
 animation: rotateOut 5s linear infinite;
}
@keyframes rotateOut {
 0%{
    opacity: 1;
  }

  50%{
    transform: rotate3d(0, 0, 1, 180deg);
    opacity: 0.1;
  }
 100%{
 	opacity: 1;
 	transform: rotate3d(0, 0, 1, 360deg);
 }
}
 button:hover {
 	opacity: 0.5;
 }
.Footer {
	background-color: black;
	padding: 20px 0;
	border-radius: 25px;
}
.lines{
border-bottom: 3px solid #FF4136;
background-color: #DDDDDD;
}
